.PasswordInfoBox {
  padding: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  max-width: 50%;
  gap: 30px;
}

.PasswordInfo {
  cursor: pointer;
}

.PasswordInfoText {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in;
}

.PasswordInfo:hover + .PasswordInfoText {
  visibility: visible;
  opacity: 1;
}
